.section_wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(42, 47, 55, 0.02);
  // background-color: rgba(27, 99, 216, 0.3);
}

.page_wrapper {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.content_wrapper {
  padding: 40px 0px 40px 40px;
  width: 867px;
}
