.header {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  align-items: center;
  min-height: 72px;
}
.btn_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile {
  padding: 8px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(66, 66, 66);
}
